In [1]:
import tiledbsoma
import tiledbsoma.io
import tiledb
import anndata as ad
import scanpy as sc

tiledbsoma.show_package_versions()

/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing CSCDataset from `anndata.experimental` is deprecated. Import anndata.abc.CSCDataset instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing CSRDataset from `anndata.experimental` is deprecated. Import anndata.abc.CSRDataset instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_csv from `anndata` is deprecated. Import anndata.io.read_csv instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_excel from `anndata` is deprecated. Import anndata.io.read_excel instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_hdf from `anndata` is deprecated. Import anndata.io.read_hdf instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_loom from `anndata` is deprecated. Import anndata.io.read_loom instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_mtx from `anndata` is deprecated. Import anndata.io.read_mtx instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_text from `anndata` is deprecated. Import anndata.io.read_text instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_umi_tools from `anndata` is deprecated. Import anndata.io.read_umi_tools instead.
  warnings.warn(msg, FutureWarning)

tiledbsoma.__version__              1.15.0rc3
TileDB core version (libtiledbsoma) 2.26.2
python version                      3.11.11.final.0
OS version                          Darwin 24.0.0

In [35]:

# First load into AnnData
adata = ad.read_h5ad('please.final.h5ad')


tiledbsoma.io.from_anndata(
    experiment_uri="test-tiledb-experiment",
    measurement_name="RNA",
    anndata=adata
)



# Then convert to SOMA format
#soma_exp = soma.from_anndata(adata, "output_soma_directory")

'test-tiledb-experiment'

In [2]:
# First load into AnnData
adata = ad.read_h5ad('please.final.h5ad')

In [4]:
adata.obs.columns

Index(['sample', 'data_source', 'Sample_Type', 'Pair', 'Paired_Sample',
       'Diagnosis', 'IDH', 'Age', 'Sex', 'Elapsed_time_to_recurrence',
       'Overall_survival', 'Source', 'patient', 'newID', 'wts_sample', 'IDH1',
       'tp53', 'OS', 'status_OS', 'PD1_cat', 'n_genes_by_counts',
       'total_counts', 'total_counts_mt', 'pct_counts_mt', 'total_counts_ribo',
       'pct_counts_ribo', 'total_counts_hb', 'pct_counts_hb', 'leiden'],
      dtype='object')

'soma-exp-pbmc3k'

In [5]:
experiment = tiledbsoma.Experiment.open("test-tiledb-experiment")
experiment

<Experiment 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment' (open for 'r') (2 items)
    'ms': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms' (unopened)
    'obs': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/obs' (unopened)>

In [42]:
experiment.obs

In [43]:
experiment.ms

<Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms' (open for 'r') (2 items)
    'RNA': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA' (unopened)
    'raw': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw' (unopened)>

In [44]:
experiment.ms["RNA"].var

In [45]:
experiment.obs.read().concat().to_pandas()

,soma_joinid,obs_id,sample,data_source,Sample_Type,Pair,Paired_Sample,Diagnosis,IDH,Age,...,PD1_cat,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,total_counts_ribo,pct_counts_ribo,total_counts_hb,pct_counts_hb,leiden
0,0,OJK0051_ATGGGAGCACGGCACT-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3836,14421.0,25.0,0.173358,19.0,0.131752,1.0,0.006934,4
1,1,OJK0051_GCAACATGTTCTATCT-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3964,14691.0,2.0,0.013614,18.0,0.122524,1.0,0.006807,4
2,2,OJK0051_AGCTACAGTACCTAGT-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3675,14723.0,21.0,0.142634,14.0,0.095089,0.0,0.000000,4
3,3,OJK0051_CTAGGTAAGGCGATAC-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3845,14106.0,9.0,0.063803,22.0,0.155962,1.0,0.007089,4
4,4,OJK0051_GATTTCTTCCAAGAGG-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3793,14542.0,121.0,0.832073,18.0,0.123779,2.0,0.013753,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183569,183569,TTGGATGAGAAGCTGC-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,524,669.0,2.0,0.298954,1.0,0.149477,0.0,0.000000,4
183570,183570,TTGGGATGTTGTCAGT-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,498,617.0,0.0,0.000000,3.0,0.486224,0.0,0.000000,1
183571,183571,TTTACCAGTCGACTTA-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,560,699.0,2.0,0.286123,6.0,0.858369,0.0,0.000000,1
183572,183572,TTTAGTCAGATGCTGG-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,461,602.0,1.0,0.166113,1.0,0.166113,0.0,0.000000,1
183573,183573,TTTCGATCAGAGATGC-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,406,500.0,3.0,0.600000,4.0,0.800000,0.0,0.000000,4

In [72]:
experiment

<Experiment 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment' (open for 'r') (2 items)
    'ms': Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms' (open for 'r') (2 items)
        'RNA': Measurement 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA' (open for 'r') (6 items)
            'X': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/X' (unopened)
            'obsm': Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm' (open for 'r') (5 items)
                'X_harmony': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_harmony' (unopened)
                'X_pca': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_pca' (unopened)
                'X_umap': SparseNDArray 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap' (open for 'r')
                'X_umap_after': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap_after' (unopened)
                'X_umap_before': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap_before' (unopened)
            'obsp': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsp' (unopened)
            'uns': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/uns' (unopened)
            'var': DataFrame 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/var' (open for 'r')
            'varm': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/varm' (unopened)
        'raw': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw' (unopened)
    'obs': DataFrame 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/obs' (open for 'r')>

In [99]:

# Get the measurements object
ms = experiment.ms

# Get the observations (cell metadata)
obs = experiment.obs

# Get the RNA measurement specifically
rna = ms['RNA']

# Main count/expression matrix
X = rna.X

# Variable (gene) metadata
var = rna.var

# Observation metadata matrices (like UMAP, PCA)
obsm = rna.obsm

# Variable metadata matrices
varm = rna.varm

In [100]:
# UMAP coordinates
umap = rna.obsm['X_umap']

# PCA coordinates
pca = rna.obsm['X_pca']

# Harmony coordinates
harmony = rna.obsm['X_harmony']

In [108]:

# 2. Observation metadata matrices (UMAP, PCA etc)
umap = rna.obsm['X_umap'].read()

In [111]:
print("Type of umap:", type(umap))
print("Shape of umap:", umap.shape if hasattr(umap, 'shape') else "No shape attribute")
print("Available attributes:", dir(umap))

Type of umap: <class 'tiledbsoma._sparse_nd_array.SparseNDArrayRead'>
Shape of umap: (9223372036854773759, 9223372036854773759)
Available attributes: ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '__weakref__', 'array', 'blockwise', 'coords', 'coos', 'dense_tensors', 'record_batches', 'shape', 'sr', 'tables']

In [139]:
experiment.ms["RNA"].var.read()

In [140]:
var_data = experiment.ms["RNA"].var.read()

# Convert to pandas DataFrame
var_df = pd.DataFrame(var_data)

# Look at what we got

In [146]:
# Get the var data iterator
var_iter = experiment.ms["RNA"].var.read()

# Use concat to combine all iterations into a DataFrame
var_df = var_iter.concat().to_pandas()

# Look at the result
print("DataFrame shape:", var_df.shape)
print("\nColumns:", var_df.columns)
print("\nFirst few rows:")
#print(var_df.head())

DataFrame shape: (1500, 18)

Columns: Index(['soma_joinid', 'var_id', 'mt', 'ribo', 'hb', 'n_cells_by_counts',
       'mean_counts', 'pct_dropout_by_counts', 'total_counts', 'n_cells',
       'highly_variable', 'highly_variable_rank', 'means', 'variances',
       'variances_norm', 'highly_variable_nbatches', 'mean', 'std'],
      dtype='object')

First few rows:

In [188]:
umap = experiment.ms["RNA"].obsm['X_umap'].read()

In [189]:
?umap

Type:           SparseNDArrayRead
String form:    <tiledbsoma._sparse_nd_array.SparseNDArrayRead object at 0x46cdb2290>
File:           ~/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/tiledbsoma/_sparse_nd_array.py
Docstring:
:class:`SparseNDArrayRead` is an intermediate type which supports multiple eventual result formats
 when reading a sparse array.

Results returned by `coos` and `tables` iterate over COO coordinates in the user-specified result order,
but with breaks between iterator steps at arbitrary coordinates (i.e., any given result may split a row or
column across two separate steps of the iterator). See `blockwise` for iterators that will always yield
complete "blocks" for any given user-specified dimension, eg., all coordinates in a given row in one
iteration step. NB: `blockwise` iterators may utilize additional disk or network IO.

See also:
    somacore.data.SparseRead

Lifecycle:
    Maturing.
Init docstring:
Lifecycle:
    Maturing.

In [202]:
# Get the array
arr = umap.array 

# Try to get data from array
print("Array methods:", dir(arr))

# Try reading from array
try:
    # If it has a read method
    data = arr.read()
    print("\nData from read():")
    print(type(data))
    print(data)
except:
    pass

# Try using coords if available
try:
    coords = arr.coords
    print("\nCoords from array:")
    print(type(coords))
    print(coords)
except:
    pass

# Try dense_tensors on array
try:
    tensors = arr.dense_tensors()
    print("\nDense tensors from array:")
    print(type(tensors))
    print(tensors)
except:
    pass

# Print shape if available
print("\nArray shape:", getattr(arr, 'shape', 'No shape attribute'))

Array methods: ['__abstractmethods__', '__annotations__', '__class__', '__class_getitem__', '__del__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__orig_bases__', '__parameters__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '__weakref__', '_abc_impl', '_check_open_read', '_close_stack', '_compute_bounding_box_metadata', '_dim_capacity_and_extent', '_domain', '_handle', '_is_protocol', '_maxdomain', '_my_repr', '_set_bounding_box_metadata', '_set_coord', '_set_coords', '_tiledb_array_keys', '_tiledb_attr_names', '_tiledb_dim_names', '_wrapper_type', 'close', 'closed', 'config_options_from_schema', 'context', 'create', 'exists', 'is_sparse', 'maxshape', 'metadata', 'mode', 'ndim', 'nnz', 'non_empty_domain', 'open', 'read', 'reopen', 'resize', 'schema', 'shape', 'soma_type', 'tiledb_timestamp', 'tiledb_timestamp_ms', 'tiledbsoma_has_upgraded_shape', 'tiledbsoma_upgrade_shape', 'uri', 'used_shape', 'verify_open_for_writing', 'write']

Data from read():
<class 'tiledbsoma._sparse_nd_array.SparseNDArrayRead'>
<tiledbsoma._sparse_nd_array.SparseNDArrayRead object at 0x4676373d0>

Array shape: (9223372036854773759, 9223372036854773759)

In [207]:
#Try getting schema info first
print("Schema info:")
print(arr.schema)

# Try getting non-empty domain
print("\nNon-empty domain:")
print(arr.non_empty_domain)

# Try getting actual shape (used shape might be different from shape)
print("\nUsed shape:")
print(arr.used_shape)

# Try getting number of non-zeros
print("\nNumber of non-zeros:")
print(arr.nnz)

Schema info:
soma_dim_0: int64 not null
soma_dim_1: int64 not null
soma_data: float not null

Non-empty domain:
<bound method SOMAArray.non_empty_domain of <SparseNDArray 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap' (open for 'r')>>

Used shape:
<bound method SparseNDArray.used_shape of <SparseNDArray 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap' (open for 'r')>>

Number of non-zeros:
367148

In [209]:
# Get read iterator
umap_read = arr.read()

# Get tables
tables = umap_read.tables()
all_data = []

try:
    while True:
        table = next(tables)
        # Get coordinates and values from each table
        rows = table['soma_dim_0'].to_numpy()
        cols = table['soma_dim_1'].to_numpy()
        vals = table['soma_data'].to_numpy()
        all_data.extend(zip(rows, cols, vals))
except StopIteration:
    pass

# Create dense array from sparse data
if all_data:
    import numpy as np
    import pandas as pd
    
    # Unzip the collected data
    rows, cols, vals = zip(*all_data)
    
    # Create dense array (n_cells x 2 for UMAP)
    n_cells = max(rows) + 1
    dense_array = np.zeros((n_cells, 2))
    
    # Fill in the values
    for r, c, v in zip(rows, cols, vals):
        dense_array[r, c] = v
    
    # Convert to DataFrame
    umap_df = pd.DataFrame(dense_array, columns=['UMAP1', 'UMAP2'])
    
    print("DataFrame shape:", umap_df.shape)
    print("\nFirst few rows:")
    print(umap_df.head())
else:
    print("No data found in tables")

DataFrame shape: (183574, 2)

First few rows:
      UMAP1      UMAP2
0  2.529748  12.759458
1  2.326808  12.264630
2  2.635806  12.391953
3  2.763276  12.012500
4  4.784267  12.521801

In [210]:
umap_df

           UMAP1      UMAP2
0       2.529748  12.759458
1       2.326808  12.264630
2       2.635806  12.391953
3       2.763276  12.012500
4       4.784267  12.521801
...          ...        ...
183569  3.856415  11.742996
183570  6.273335   6.571853
183571  5.482398   6.845828
183572  7.841643   6.449443
183573  3.180763  11.353365

[183574 rows x 2 columns]

In [10]:
import numpy as np
import pandas as pd
experiment = tiledbsoma.Experiment.open("test-tiledb-experiment")
experiment



#Shortest working version:
tables = experiment.ms['RNA'].obsm['X_umap'].read().tables()
table = next(tables)
rows = table['soma_dim_0'].to_numpy()
cols = table['soma_dim_1'].to_numpy()
vals = table['soma_data'].to_numpy()
dense_array = np.zeros((max(rows) + 1, 2))
dense_array[rows, cols] = vals
umap_df = pd.DataFrame(dense_array)
umap_df.columns = ['X','Y']

In [88]:
umap_df

               X          Y
0       2.529748  12.759458
1       2.326808  12.264630
2       2.635806  12.391953
3       2.763276  12.012500
4       4.784267  12.521801
...          ...        ...
183569  3.856415  11.742996
183570  6.273335   6.571853
183571  5.482398   6.845828
183572  7.841643   6.449443
183573  3.180763  11.353365

[183574 rows x 2 columns]

In [288]:
experiment.obs.read().concat().to_pandas()

,soma_joinid,obs_id,sample,data_source,Sample_Type,Pair,Paired_Sample,Diagnosis,IDH,Age,...,PD1_cat,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,total_counts_ribo,pct_counts_ribo,total_counts_hb,pct_counts_hb,leiden
0,0,OJK0051_ATGGGAGCACGGCACT-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3836,14421.0,25.0,0.173358,19.0,0.131752,1.0,0.006934,4
1,1,OJK0051_GCAACATGTTCTATCT-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3964,14691.0,2.0,0.013614,18.0,0.122524,1.0,0.006807,4
2,2,OJK0051_AGCTACAGTACCTAGT-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3675,14723.0,21.0,0.142634,14.0,0.095089,0.0,0.000000,4
3,3,OJK0051_CTAGGTAAGGCGATAC-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3845,14106.0,9.0,0.063803,22.0,0.155962,1.0,0.007089,4
4,4,OJK0051_GATTTCTTCCAAGAGG-1,OJK0051,dataset1,Primary,NaN,NaN,NaN,NaN,NaN,...,upfront,3793,14542.0,121.0,0.832073,18.0,0.123779,2.0,0.013753,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183569,183569,TTGGATGAGAAGCTGC-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,524,669.0,2.0,0.298954,1.0,0.149477,0.0,0.000000,4
183570,183570,TTGGGATGTTGTCAGT-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,498,617.0,0.0,0.000000,3.0,0.486224,0.0,0.000000,1
183571,183571,TTTACCAGTCGACTTA-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,560,699.0,2.0,0.286123,6.0,0.858369,0.0,0.000000,1
183572,183572,TTTAGTCAGATGCTGG-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,461,602.0,1.0,0.166113,1.0,0.166113,0.0,0.000000,1
183573,183573,TTTCGATCAGAGATGC-1-SF6809,SF6809,dataset2,Primary,21.0,SF7025,Glioblastoma,IDH wildtype,57.0,...,NaN,406,500.0,3.0,0.600000,4.0,0.800000,0.0,0.000000,4

In [239]:
experiment.ms["RNA"].var.read().concat().to_pandas()

,soma_joinid,var_id,mt,ribo,hb,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts,n_cells,highly_variable,highly_variable_rank,means,variances,variances_norm,highly_variable_nbatches,mean,std
0,0,AADACL2-AS1,False,False,False,1768,0.011141,99.183673,2413.0,1385,True,286.0,0.011617,0.020490,0.826372,3,0.011617,0.143143
1,1,AAK1,False,False,False,99104,1.069988,54.241389,231738.0,85170,True,101.0,0.837784,0.987019,0.946874,1,0.837784,0.993488
2,2,AAR2,False,False,False,13074,0.068631,93.963432,14864.0,9509,True,254.0,0.070304,0.106400,0.973521,1,0.070304,0.326190
3,3,AASS,False,False,False,48581,0.401621,77.569028,86983.0,40823,True,77.0,0.341405,0.471975,0.938483,1,0.341405,0.687004
4,4,AATBC,False,False,False,915,0.004382,99.577523,949.0,656,True,358.0,0.004591,0.006717,0.745761,4,0.004591,0.081956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1495,ZNF84,False,False,False,42989,0.285483,80.150983,61830.0,33754,True,243.0,0.263696,0.362030,0.954338,3,0.263696,0.601689
1496,1496,ZNF841,False,False,False,4293,0.021673,98.017823,4694.0,2534,True,315.5,0.016330,0.021661,0.765683,4,0.016330,0.147177
1497,1497,ZNF98,False,False,False,3361,0.037233,98.448148,8064.0,2600,True,183.0,0.022485,0.042433,0.925667,12,0.022485,0.205994
1498,1498,ZPLD1,False,False,False,1575,0.008025,99.272786,1738.0,1287,True,256.5,0.009463,0.014490,0.871355,4,0.009463,0.120374
1499,1499,ZRANB2-AS1,False,False,False,8845,0.049548,95.916059,10731.0,5936,True,349.0,0.040668,0.056069,0.785811,1,0.040668,0.236789

In [3]:
exp = experiment

NameError: name 'experiment' is not defined

In [254]:
rna = exp.ms['RNA']

# Get feature/gene index
var = experiment.ms["RNA"].var.read().concat().to_pandas()
# if 'var_id' in var.columns:

#     gene_idx = var[var['index'] == gene_name].index[0]
# else:
    # Print available columns to help with debugging
    # print(f"Available columns in var: {var.columns.tolist()}")
    # raise ValueError("Could not find gene name column")

# Query expression matrix
#expr = rna.X.query(coords={'var_idx': [gene_idx]})

In [255]:
var

,soma_joinid,var_id,mt,ribo,hb,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts,n_cells,highly_variable,highly_variable_rank,means,variances,variances_norm,highly_variable_nbatches,mean,std
0,0,AADACL2-AS1,False,False,False,1768,0.011141,99.183673,2413.0,1385,True,286.0,0.011617,0.020490,0.826372,3,0.011617,0.143143
1,1,AAK1,False,False,False,99104,1.069988,54.241389,231738.0,85170,True,101.0,0.837784,0.987019,0.946874,1,0.837784,0.993488
2,2,AAR2,False,False,False,13074,0.068631,93.963432,14864.0,9509,True,254.0,0.070304,0.106400,0.973521,1,0.070304,0.326190
3,3,AASS,False,False,False,48581,0.401621,77.569028,86983.0,40823,True,77.0,0.341405,0.471975,0.938483,1,0.341405,0.687004
4,4,AATBC,False,False,False,915,0.004382,99.577523,949.0,656,True,358.0,0.004591,0.006717,0.745761,4,0.004591,0.081956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1495,ZNF84,False,False,False,42989,0.285483,80.150983,61830.0,33754,True,243.0,0.263696,0.362030,0.954338,3,0.263696,0.601689
1496,1496,ZNF841,False,False,False,4293,0.021673,98.017823,4694.0,2534,True,315.5,0.016330,0.021661,0.765683,4,0.016330,0.147177
1497,1497,ZNF98,False,False,False,3361,0.037233,98.448148,8064.0,2600,True,183.0,0.022485,0.042433,0.925667,12,0.022485,0.205994
1498,1498,ZPLD1,False,False,False,1575,0.008025,99.272786,1738.0,1287,True,256.5,0.009463,0.014490,0.871355,4,0.009463,0.120374
1499,1499,ZRANB2-AS1,False,False,False,8845,0.049548,95.916059,10731.0,5936,True,349.0,0.040668,0.056069,0.785811,1,0.040668,0.236789

In [256]:
gene_idx = var[var['var_id'] == 'ZNF841'].index[0]
# elif 'index' in var.columns:

In [265]:
expr = rna.X['data'].read(coords={'var_idx': [gene_idx]})

In [270]:
expr_tables = experiment.ms['RNA'].X['data'].read().tables()
expr_table = next(expr_tables)

In [ ]:
# Get all tables
expr_tables = experiment.ms['RNA'].X['data'].read().tables()

# Initialize list to store results
all_expressions = []

# Iterate through all chunks
for table in expr_tables:
    df = table.to_pandas()
    # Get data for gene 5
    gene_data = df[df['soma_dim_1'] == 5][['soma_dim_0', 'soma_data']]
    all_expressions.append(gene_data)

# Combine all chunks
full_gene_data = pd.concat(all_expressions).sort_values('soma_dim_0')

In [91]:
df = expr_table.to_pandas()

NameError: name 'expr_table' is not defined

In [285]:
gene_5_expr = df[df['soma_dim_1'] == 5]['soma_data']

In [90]:
df

NameError: name 'df' is not defined

In [26]:
#expr = experiment.ms['RNA'].X['data'].read(coords={'var_idx': [5]})
#expr = experiment.ms['RNA'].X['data'].read(coords={'var_idx': [5]})
# Get expression data for gene index 5
expr = experiment.ms['RNA'].X['data'].read(coords=[[5]])  # Note the double brackets


# Get the tables (returns an iterator)
expr_tables = expr.tables()

In [30]:

table = next(expr_tables)

In [31]:
table

pyarrow.Table
soma_dim_0: int64
soma_dim_1: int64
soma_data: double
----
soma_dim_0: [[5,5,5,5,5,...,5,5,5,5,5]]
soma_dim_1: [[0,1,2,3,4,...,1495,1496,1497,1498,1499]]
soma_data: [[-0.08115362511086402,0.6941964813787845,-0.21553231537564466,0.293551204947782,-0.05601329219324334,...,1.0459891047697714,-0.1109544855314298,-0.1091522643863784,-0.07861059593621093,2.1217506758150044]]

In [65]:
def get_gene_expression(experiment, gene_idx):
    """
    Efficiently process all tables for a given gene's expression data
    
    Parameters:
    -----------
    experiment : SOMAExperiment
        The SOMA experiment object
    gene_idx : int
        Index of the gene to query
        
    Returns:
    --------
    numpy.ndarray, numpy.ndarray
        Two arrays: cell indices and their corresponding expression values
    """
    import numpy as np
    
    # Lists to collect data from all tables
    all_cells = []
    all_expressions = []
    
    # Read the gene's data
    expr = experiment.ms['RNA'].X['data'].read(coords=[[gene_idx]])  # Note the double brackets

    
    # Process each table
    for table in expr.tables():
        print(table)
        # Get cell indices and expression values
        cells = table['soma_dim_0'].to_numpy()
        expressions = table['soma_data'].to_numpy()
        
        all_cells.append(cells)
        all_expressions.append(expressions)
    
    # Combine all chunks efficiently
    if all_cells:
        cell_indices = np.concatenate(all_cells)
        expression_values = np.concatenate(all_expressions)
        
        # Sort by cell index if needed
        sort_idx = np.argsort(cell_indices)
        cell_indices = cell_indices[sort_idx]
        expression_values = expression_values[sort_idx]
        
        return cell_indices, expression_values
    else:
        return np.array([]), np.array([])

# Example usage:
if __name__ == "__main__":
    gene_idx = 5  # Example gene index
    
    cells, expressions = get_gene_expression(experiment, 5)
    
    # Basic statistics
    if len(expressions) > 0:
        print(f"Number of cells: {len(cells)}")
        print(f"Mean expression: {expressions.mean():.4f}")
        print(f"Non-zero expressions: {(expressions != 0).sum()}")
        print(f"Percent non-zero: {((expressions != 0).sum() / len(expressions) * 100):.1f}%")
    else:
        print("No data found for this gene")

pyarrow.Table
soma_dim_0: int64
soma_dim_1: int64
soma_data: double
----
soma_dim_0: [[5,5,5,5,5,...,5,5,5,5,5]]
soma_dim_1: [[0,1,2,3,4,...,1495,1496,1497,1498,1499]]
soma_data: [[-0.08115362511086402,0.6941964813787845,-0.21553231537564466,0.293551204947782,-0.05601329219324334,...,1.0459891047697714,-0.1109544855314298,-0.1091522643863784,-0.07861059593621093,2.1217506758150044]]
Number of cells: 1500
Mean expression: 0.1090
Non-zero expressions: 1500
Percent non-zero: 100.0%

In [70]:
expr = experiment.ms['RNA'].X['data'].read(coords=[[5]])
table_count = 0
total_cells = 0

for table in expr.tables():
    table_count += 1
    n_cells = len(table['soma_dim_1'])
    total_cells += n_cells
    print(f"Table {table_count}:")
    print(f"Number of cells in this table: {n_cells}")
    print(f"First few cell indices: {table['soma_dim_1'].to_numpy()[:5]}")
    print(f"Last few cell indices: {table['soma_dim_1'].to_numpy()[-5:]}")
    print("-" * 50)

print(f"\nTotal tables processed: {table_count}")
print(f"Total cells found: {total_cells}")

Table 1:
Number of cells in this table: 1500
First few cell indices: [0 1 2 3 4]
Last few cell indices: [1495 1496 1497 1498 1499]
--------------------------------------------------

Total tables processed: 1
Total cells found: 1500

In [73]:
X = experiment.ms['RNA'].X['data']
print(X)  # This should show dimensions/shape

<SparseNDArray 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/X/data' (open for 'r')>

In [81]:
experiment.ms['raw'].X

<Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw/X' (open for 'r') (1 item)
    'data': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw/X/data' (unopened)>

In [82]:
experiment.ms

<Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms' (open for 'r') (2 items)
    'RNA': Measurement 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA' (open for 'r') (6 items)
        'X': Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/X' (open for 'r') (1 item)
            'data': SparseNDArray 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/X/data' (open for 'r')
        'obsm': Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm' (open for 'r') (5 items)
            'X_harmony': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_harmony' (unopened)
            'X_pca': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_pca' (unopened)
            'X_umap': SparseNDArray 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap' (open for 'r')
            'X_umap_after': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap_after' (unopened)
            'X_umap_before': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap_before' (unopened)
        'obsp': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsp' (unopened)
        'uns': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/uns' (unopened)
        'var': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/var' (unopened)
        'varm': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/varm' (unopened)
    'raw': Measurement 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw' (open for 'r') (2 items)
        'X': Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw/X' (open for 'r') (1 item)
            'data': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw/X/data' (unopened)
        'var': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw/var' (unopened)>

In [83]:
experiment.ms['RNA'].obsm

<Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm' (open for 'r') (5 items)
    'X_harmony': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_harmony' (unopened)
    'X_pca': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_pca' (unopened)
    'X_umap': SparseNDArray 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap' (open for 'r')
    'X_umap_after': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap_after' (unopened)
    'X_umap_before': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm/X_umap_before' (unopened)>

In [84]:
plot_types = list(experiment.ms['RNA'].obsm.keys())

In [1]:
import tiledbsoma
import tiledbsoma.io
import tiledb
import anndata as ad
import scanpy as sc

tiledbsoma.show_package_versions()



experiment = tiledbsoma.Experiment.open("test-tiledb-experiment")

/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing CSCDataset from `anndata.experimental` is deprecated. Import anndata.abc.CSCDataset instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing CSRDataset from `anndata.experimental` is deprecated. Import anndata.abc.CSRDataset instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_csv from `anndata` is deprecated. Import anndata.io.read_csv instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_excel from `anndata` is deprecated. Import anndata.io.read_excel instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_hdf from `anndata` is deprecated. Import anndata.io.read_hdf instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_loom from `anndata` is deprecated. Import anndata.io.read_loom instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_mtx from `anndata` is deprecated. Import anndata.io.read_mtx instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_text from `anndata` is deprecated. Import anndata.io.read_text instead.
  warnings.warn(msg, FutureWarning)
/Users/tenzin/miniconda3/envs/tiledbsoma-101/lib/python3.11/site-packages/anndata/utils.py:429: FutureWarning: Importing read_umi_tools from `anndata` is deprecated. Import anndata.io.read_umi_tools instead.
  warnings.warn(msg, FutureWarning)

tiledbsoma.__version__              1.15.0rc3
TileDB core version (libtiledbsoma) 2.26.2
python version                      3.11.11.final.0
OS version                          Darwin 24.0.0

In [15]:
def get_gene_expression(gene_name):
    # Get gene index from var
    var_df = experiment.ms['RNA'].var.read().concat().to_pandas()
    gene_idx = var_df[var_df['var_id'] == gene_name].index[0]
    
    # Get expression data for this gene
    X = experiment.ms['RNA'].X['data'].read()
    
    # Concatenate all tables
    tables_list = []
    for table in X.tables():
        tables_list.append(table.to_pandas())
    table_df = pd.concat(tables_list)
    
    # Filter for rows where col (gene) index matches our gene
    gene_mask = table_df['soma_dim_1'] == gene_idx
    rows = table_df[gene_mask]['soma_dim_0'].to_numpy()
    vals = table_df[gene_mask]['soma_data'].to_numpy()
    
    # Create dense array of expression values
    expression = np.zeros(X.shape()[0])
    expression[rows] = vals
    
    return expression

In [2]:
X = experiment.ms["RNA"].X["data"]
X.schema

soma_dim_0: int64 not null
soma_dim_1: int64 not null
soma_data: double not null

In [3]:
X.shape

(9223372036854773759, 9223372036854773759)

In [4]:
X.nnz

275361000

In [5]:
X.read()

In [39]:


experiment = tiledbsoma.Experiment.open("test-tiledb-experiment")
# First get the gene index
var = experiment.ms["RNA"].var
idx = var.read(value_filter="var_id == 'AASS'").concat()["soma_joinid"].to_numpy()
gene_idx = int(idx[0])

# Then slice to get that gene's expression for all cells
gene_exp = X.read((None, gene_idx)).coos().concat().to_scipy()
import pandas as pd
gene_exp_df = pd.DataFrame(gene_exp.data)
gene_exp_df.columns = ['expression']

        expression
0         0.269799
1         0.258804
2         0.257522
3         0.788159
4         0.762339
...            ...
183569   -0.496947
183570   -0.496947
183571   -0.496947
183572   -0.496947
183573   -0.496947

[183574 rows x 1 columns]

In [22]:
experiment

<Experiment 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment' (open for 'r') (2 items)
    'ms': Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms' (open for 'r') (2 items)
        'RNA': Measurement 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA' (open for 'r') (6 items)
            'X': Collection 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/X' (open for 'r') (1 item)
                'data': SparseNDArray 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/X/data' (open for 'r')
            'obsm': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsm' (unopened)
            'obsp': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/obsp' (unopened)
            'uns': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/uns' (unopened)
            'var': DataFrame 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/var' (open for 'r')
            'varm': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/RNA/varm' (unopened)
        'raw': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/ms/raw' (unopened)
    'obs': 'file:///Users/tenzin/Desktop/projects/genedash/test-tiledb-experiment/obs' (unopened)>